In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df=pd.read_csv('cars.csv')

In [4]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [5]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [6]:
df.experience.mean()

6.6

In [8]:
exp_fit=df.experience.median()

In [9]:
exp_fit

5.0

In [10]:
df.experience=df.experience.fillna(exp_fit)

In [11]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [12]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [13]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [14]:
reg=linear_model.LinearRegression()

In [15]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [17]:
reg.predict([[160,10,5]])

c:\Users\ACT\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [18]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [19]:
reg.intercept_

33.41000091043588

In [21]:
0.33059217*160+1.61053246*10+5*-6.20772074+33.41000091043588

71.37146901043589

In [22]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [23]:
x,y=make_classification(n_samples=1000,n_features=10,n_classes=2,random_state=1)

In [24]:
x

array([[-2.10118662, -0.24720775, -1.98933489, ...,  2.07052553,
         0.09152688, -2.37639956],
       [ 0.32370343, -0.12689445, -1.30952433, ...,  1.18481987,
        -0.186802  ,  1.96932634],
       [ 2.23203753,  0.33412256, -0.85270339, ..., -0.06644818,
        -0.31388129,  1.49917393],
       ...,
       [-1.16966316,  0.2306405 , -2.71039374, ...,  0.02149968,
        -1.06680089,  0.52886752],
       [-2.64618249, -0.11784427,  0.14937733, ...,  0.34047267,
        -0.27694042, -0.87101392],
       [-4.07569534, -0.33130612, -0.11181622, ..., -0.4164757 ,
         0.36444447, -0.534328  ]])

In [25]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9
0,-2.101187,-0.247208,-1.989335,-1.484556,1.128668,-0.925564,1.210290,2.070526,0.091527,-2.376400
1,0.323703,-0.126894,-1.309524,-0.022738,-0.398725,0.280419,0.034598,1.184820,-0.186802,1.969326
2,2.232038,0.334123,-0.852703,3.289016,0.331944,0.044767,-2.233844,-0.066448,-0.313881,1.499174
3,-0.428456,1.627132,0.484649,0.938373,1.339947,-0.869036,0.943132,0.713558,-0.468041,0.075341
4,0.386012,0.338141,-0.186530,2.369137,1.667284,-0.979107,0.951526,0.398790,0.729005,0.372213
...,...,...,...,...,...,...,...,...,...,...
995,-1.148812,-0.048464,0.555170,-2.167311,-0.595136,0.237045,-1.241394,-0.144619,-0.136638,-1.363868
996,1.585814,1.269868,1.193456,2.321360,0.222056,0.040255,2.260748,-0.182916,-0.959332,0.263967
997,-1.169663,0.230641,-2.710394,-3.217224,-1.509607,0.795293,-0.854581,0.021500,-1.066801,0.528868
998,-2.646182,-0.117844,0.149377,-0.377960,2.755272,-1.983281,-1.865016,0.340473,-0.276940,-0.871014
999,-4.075695,-0.331306,-0.111816,-2.867222,2.200368,-1.802118,-1.288487,-0.416476,0.364444,-0.534328

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [44]:
x_train

array([[ 1.48829065, -2.10561639,  0.44173351, ..., -1.03111252,
         0.35026682,  0.1847476 ],
       [-1.75714143, -0.81391586, -0.78245291, ..., -1.14168096,
        -1.01500282,  1.07154926],
       [-0.63586326, -1.21522542, -1.06027382, ..., -0.76815848,
         0.26068848,  0.50031952],
       ...,
       [-0.79905141,  0.23223348, -1.37175136, ..., -1.44026512,
         0.03447448, -0.33548058],
       [-0.70308218,  0.2756734 ,  0.78799635, ...,  0.53188154,
         0.11443758, -0.82692529],
       [ 0.88650532, -0.63260211,  2.00213202, ...,  1.85691531,
         0.13705826, -0.44617634]])

In [45]:
x_train.shape

(700, 10)

In [46]:
x_test.shape

(300, 10)

In [47]:
y_train.shape

(700,)

In [49]:
y_test.shapef

(300,)